.login-card .logo {
  max-width: 200px !important;
}
.login-card .btn-showcase .btn {
  background: #FBFCFF !important;
}
.login-card .login-main .theme-form input {
  background: #f1f4f6 !important;
  color: var(--theme-deafult) !important;
}* a {
  color: var(--theme-deafult);
  text-decoration: none;
  letter-spacing: 1px;
}
.login-card .login-main .theme-form .or:before {
  background-color: #b7c5ba!important;
}

