 $bg-primary: #3D724A;
 $bg-secondary: #44A15B;
 $bg-accent: #E8F1EA;
 $text-primary: #13361C;

.form-heading{
    padding: 1rem;
}

.form-heading h2{
    color: $bg-secondary;
    font-size: 1.5rem;
}
.form-heading h3 {
    color: $bg-primary;
    font-size: 1.8rem;
    text-align: center;
}
.form-logo{
    max-width: 40%;
    display: block;
    margin: 0 auto;
}

.card-image{
    min-height: 77vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.8rem;
    font-weight: 600;
}
.form-heading p{
    color: rgba(180, 183, 181, 1);
    font-size: .8rem;
}
.form-group{
    background-color: $bg-accent !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .9rem;
}
.form-group input{
    background-color: transparent;
}
.form-control::placeholder{
    font-size: 10px !important;
    font-style: italic;
    font-weight: 500 !important;
    font-size: .8rem !important;
    padding-left: 1rem !important;
    color: $bg-primary !important; 
}
.login-btn{
   background-color: rgba(61, 114, 74, 1);
    color: white;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 1rem;
}
.form-text{
    font-size: .8rem;
    color: $bg-primary;
}
.form-text a{
    color: $bg-secondary !important;
    font-weight: 600;
    text-decoration: none;
}
.txt-mail{
   color: #888888;
}