<div class="container-fluid p-0">
  <app-auth-card>
    <card-image>
      <div class="card-image">
        <img
          src="assets/images/login/Sign up-bro 1.png"
          alt="login avatar"
          class="w-100"
        />
      </div>
    </card-image>
    <card-form-layout>
      <div>
        <div class="bg-white shadow p-5 rounded">
          <form class="theme-form">
            <div class="form-heading">
              <img
                src="assets/images/login/form-logo.png"
                alt=""
                class="form-logo"
              />
              <h2 class="text-center">CREER VOTRE COMPTE</h2>
              <p class="text-center">Rejoignez nous !</p>
            </div>
            <div class="container my-3 image-wraper">
              <div class="image-container border border-secondary">
                <img src="placeholder.jpg" alt="" />
                <input
                  type="file"
                  class="image-upload-btn"
                  accept="image/*"
                  name="image-upload"
                  id="image-upload"
                />
                <label class="uplaod-button" for="image-upload">
                  <app-feather-icons [icon]="'plus'"></app-feather-icons>
                </label>
              </div>
            </div>

            <div class="form-group mb-4">
              <div class="form-grid">
                <div class="form-group-custom rounded">
                  <input
                    class="form-control"
                    type="text"
                    required=""
                    placeholder="Entrez votre nom..."
                  />
                </div>
                <div class="rounded form-group-custom">
                  <input
                    class="form-control"
                    type="text"
                    required=""
                    placeholder="Entrez votre prénom..."
                  />
                </div>
              </div>
            </div>
            <div class="form-group mb-4">
              <div class="form-grid">
                <div class="form-group-custom rounded">
                  <input
                    class="form-control"
                    type="date"
                    required=""
                    placeholder="Votre date de naissance..."
                  />
                </div>
                <div class="rounded form-group-custom">
                  <input
                    class="form-control"
                    type="text"
                    required=""
                    placeholder="genre"
                  />
                </div>
              </div>
            </div>
            <div class="form-group form-group-custom mb-4 rounded">
              <input
                class="form-control"
                type="text"
                required=""
                placeholder="Votre numéro de téléphonne..."
              />
              <app-feather-icons
                [icon]="'phone'"
                [style]="'width:12px;'"
                class="txt-mail"
              ></app-feather-icons>
            </div>
            <div class="form-group form-group-custom mb-4 rounded">
              <input
                class="form-control"
                type="email"
                required=""
                placeholder="Votre adresse email..."
              />
              <app-feather-icons
                [icon]="'mail'"
                [style]="'width:12px;'"
                class="txt-mail"
              ></app-feather-icons>
            </div>

            <div class="form-group form-group-custom mb-4 rounded">
              <input
                class="form-control"
                [type]="show ? 'text' : 'password'"
                name="login[password]"
                required=""
                placeholder="Votre mot de passe..."
              />
              <div (click)="showPassword()" *ngIf="!show">
                <app-feather-icons
                  [icon]="'lock'"
                  [style]="'width:12px;'"
                  class="txt-mail"
                ></app-feather-icons>
              </div>
              <div (click)="showPassword()" *ngIf="show">
                <app-feather-icons
                  [icon]="'unlock'"
                  [style]="'width:12px;'"
                  class="txt-mail"
                ></app-feather-icons>
              </div>
            </div>
            <button class="btn rounded mx-auto d-block login-btn shadow">
              s'inscrire
            </button>
            <div>
              <p class="mt-4 mb-2 text-center form-text">ou s'inscrire avec</p>
              <button class="btn-primary btn py-2 px-5 d-block mx-auto">
                <app-feather-icons [icon]="'facebook'"></app-feather-icons>
              </button>
            </div>
            <p class="mt-4 mb-5 text-center form-text">
              J'ai déjà un compte.
              <a class="ms-2" routerLink="/auth/login">se connecter..</a>
            </p>
          </form>
        </div>
      </div>
    </card-form-layout>
  </app-auth-card>
</div>
