<div class="container-fluid p-0">
  <app-auth-card>
    <card-image>
      <div class="card-image">
        <img
          src="assets/images/login/Forgot password-rafiki 1.png"
          alt="forgot password avatar"
          class="w-100"
        />
      </div>
    </card-image>
    <card-form-layout>
      <div>
        <div class="bg-white shadow p-5 rounded">
          <form class="theme-form">
            <div class="form-heading">
              <img
                src="assets/images/login/form-logo.png"
                alt=""
                class="form-logo"
              />
              <h2 class="text-center">Mot de passe oublié</h2>
              <p class="text-center mt-5">
                veuillez entrer votre adresse email , un lien vas etre envoyé
                pour changer votre mot de passe
              </p>
            </div>
            <div class="form-group mb-5 rounded">
              <input
                class="form-control"
                type="email"
                required=""
                placeholder="Votre adresse email..."
              />
              <app-feather-icons
                [icon]="'mail'"
                [style]="'width:12px;'"
                class="txt-mail"
              ></app-feather-icons>
            </div>
            <button class="btn rounded mx-auto d-block login-btn shadow">
              Envoyer
            </button>
            <!-- <p class="mt-4 mb-5 text-center form-text">
              oups j'ai oublié mon .<a
                class="ms-2"
                routerLink="/auth/forgot-password"
                >mot de passe</a
              >
            </p> -->
          </form>
        </div>
      </div>
    </card-form-layout>
  </app-auth-card>
</div>
