<div class="page-wrapper">
  <div class="container-fluid p-0"  [ngStyle]="{'background-image': 'url(assets/images/login/login-bg2.png)','background-size': 'cover','background-position': 'center center',}">
    >
    <div class="row">
      <div class="col-12">
        <div class="login-card">
          <div>
            <div>
              <a class="logo text-start" href="#">
                <img class="img-fluid for-light" src="assets/images/logo/logo.png" alt="looginpage">
                <img class="img-fluid for-dark" src="assets/images/logo/logo_dark.png" alt="looginpage">
              </a>
            </div>
            <div class="login-main">
              <form class="theme-form" [formGroup]="forgotForm">
                <h4>Forgot password</h4>
                <div class="form-group">
                  <label class="col-form-label">Enter your email for the verification proccess,we will send 4 digits code to your email.</label>
                  <div class="row">
                    <div class="col-12">
                      <input class="form-control"formControlName="email" type="email" required="" placeholder="app@yourmail.com">
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary d-block w-100 m-t-10" type="submit">Send</button>
                    </div>
                  </div>
                </div>
                <p class="mt-4 mb-0">Already have an password?<a class="ms-2" [routerLink]="'/auth/login'">Sign in</a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

