<div class="container-fluid p-0">
  <app-auth-card>
    <card-image>
      <div class="card-image">
        <img
          src="assets/images/login/Forgot password-rafiki 1.png"
          alt="forgot password avatar"
          class="w-100"
        />
      </div>
    </card-image>
    <card-form-layout>
      <div class="status-container">
        <h1>Quel est votre statut ?</h1>
        <p>Nous voulons savoir , ètes vous un patient ? ou un médecin ?</p>
        <form class="status-form">
          <button>Suivant</button>
        </form>
        <div></div>
      </div>
    </card-form-layout>
  </app-auth-card>
</div>
