 $bg-primary: #3D724A;
 $bg-secondary: #44A15B;
 $bg-accent: #E8F1EA;
 $text-primary: #13361C;


 .status-container h1 {
     color: $text-primary;
     font-size: 1.8rem;
 }


 .card-image {
     min-height: 85vh;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 1.8rem;
 }
 .status-container{
    min-height: 60vh;
    display: flex;
    align-items: start;
    padding-right: 8rem;
  justify-content: center;
    flex-direction: column;
 }
 .status-container p {
     color: rgba(180, 183, 181, 1);
     font-size: .8rem;
 }
 .status-container form {
    width: 100%;
    border-radius: 15px;
    min-height: 200px;
    background-color: $bg-accent;
    padding: 3rem;
 }


 





